body{

font-family: Arial, sans-serif;

background:#0b3d2e;

margin:0;

padding:20px;

text-align:center;

color:white;

}


.logo img{

border-radius:50%;

background:white;

padding:5px;

}



h1{

font-size:32px;

}



.partita{

background:white;

color:#222;

max-width:450px;

margin:auto;

padding:20px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

}



#infoPartita{

background:#eeeeee;

padding:15px;

border-radius:15px;

font-size:18px;

margin-bottom:15px;

}



.boxPosti{

background:#0b3d2e;

color:white;

padding:12px;

border-radius:10px;

margin:15px 0;

}



input{

width:90%;

padding:12px;

font-size:16px;

border-radius:10px;

border:1px solid #ccc;

margin:5px;

}



button{

background:#16a34a;

color:white;

border:none;

padding:12px 20px;

border-radius:12px;

font-size:16px;

cursor:pointer;

margin:8px;

}



button:hover{

background:#15803d;

}



ul{

list-style:none;

padding:0;

}



li{

background:#f3f4f6;

color:#222;

margin:5px;

padding:10px;

border-radius:10px;

}



#infoCompleta{

color:#dc2626;

font-weight:bold;

font-size:18px;

margin:10px;

}
